#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem 100px;
  
  padding-top: ;
  background-color: rgb(46, 48, 48)
  
}
.login{
 position: relative;
 color: rgb(255, 245, 245);
}

body{
  background-color: black
}
nav{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.lo , .singo{
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  color: aquamarine;
  background-color: white;
  color: black;
  ov



}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
